window {
   background-image: url("background.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}

#user-image {

}

#user-name {
  font-size: 20px;
}
